<div class="OuterDiv">
    <div class="FirstInnerDiv">
        <div class="funDo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="D">d</b>
            <b class="o">o</b>
            <b class="oo">o</b>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="reset-head">
                <h1>Forgot password</h1>
            </div>
            <div class="head-line">
                <h3>Enter your phone number or recovery email</h3>
            </div>
            <div>
                <mat-form-field appearance="outline" class="Email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="" formControlName="email">
                    <mat-error>Enter valid email</mat-error>
                </mat-form-field>
            </div>
            <div class="NextButton">
                <button class="mat-raised-button" color="primary">Next</button>
            </div>
        </form>
    </div>
</div>