<div class="OuterDiv">
    <div class="FirstInnerDiv">
        <div class="funDo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="D">d</b>
            <b class="o">o</b>
            <b class="oo">o</b>
        </div>
        
        <div class="para">
            <p>Reset Password</p>
        </div>
        <div class="heading">
            <h3>Enter your phone number or recovery email</h3>
        </div>
        <div class="myDiv">
            <div class="nameDiv">
                <mat-form-field appearance="outline" class="Email">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>
            
                <div class="NextButton">
                    <button class="mat-raised-button" color="primary">Next</button>
                </div>
            
        </div>
    </div>
</div>