.OuterDiv{
    width: 97vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.FirstInnerDiv{
    border: 2px solid rgb(230, 230, 230);
    height: 60%;
    width: 30vw;
    padding: 40px 40px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
}

.funDo{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 170px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.F{
    color: #1a73e8;
}
.u{
    color: red;
}
.n{
    color: yellow;
}
.D{
    color: #1a73e8;
}
.o{
    color:green;
}
.oo{
    color:red;
}

.head-line{
    margin-bottom: 20px;
    text-align: center;  
}
    
.reset-head{
    text-align: center;
}
.Email{
    width: 100%;
    height: 60px;
    padding-top: 10px; 
    padding-bottom: 40px; 
}

.NextButton{
    margin-left: 150px;
    :hover {
        background-color:#0248a5;
        color: white;
      }
}
.mat-raised-button{
    background-color:#1a73e8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    margin-left: 205px;
     
}