.createnotecontainer{
    border: 1px solid;
    border-color: white;
    box-shadow: 1px 1px 3px 3px rgba(157, 167, 170, 0.215);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: white;
    width: 750px;
    margin: 35px;
    margin-left: 250px;
}
.title {
    min-height: 10px;
    padding: 10px 15px;
    padding-top: 15px;
    padding-right: 289px;
    padding-bottom: 30px;
    padding-left: 15px;
    font-size: large;
    width: 420px;
    border: none;
    outline: none;
    font: normal 18px Google Sans,Roboto,Helvetica,Arial,sans-serif;
}

.takeNotes{
    display: flex;
    flex-direction: column-reverse;
}
.user{
    font-size: small;
    display: flex;
    flex-direction: column-reverse;
}
.s-btn{
    border: none;
    background: transparent;
    height: 100%;
    margin-bottom: -22px;
    margin-right: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
  .note-field{
    min-height: 25px;
    padding-top: 0px;
    padding-right: 300px;
    padding-bottom: 0px;
    padding-left: 15px;
    height: 0px;
    width: 420px;
    border: none;
    outline: none;
    font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif,bold;
  }
  .Icons {
    padding-left: 579px;
    opacity: 0.7;
    margin-bottom: -27px;
}

.Icons button {
    border: none;
    background-color: white;
    width:52px;
    height:25px;
    padding-bottom: 30px;
    cursor: pointer;
}
.close{
    display: flex;
    font-size: large;
    background-color: white;
    border:0px white;
    margin-right: 40px;
    padding-top:15px;
    justify-content: space-between;
    border: none;
    
}
.pin{
    opacity:0.7;
    cursor: pointer;
}
.clozee{
    border: none;
    background-color: white;
    cursor: pointer;
}