<div class="icon-container" *ngIf="this.noteCard.isTrash==false">
    <div class="icon">
        <button matTooltip="Remind me"><img src="../../../assets/remind.svg"></button>
    </div>

    <div class="icon">
        <button matTooltip="Collaborator"><img src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg"></button>
    </div>

    <div class="icon">
        <button matTooltip="Background options" [matMenuTriggerFor]="color">
            <img src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
        </button>
        <mat-menu #color="matMenu">
            <div class="background">
                <div class="bg-color" *ngFor="let color of colors">
                    <button class="colorBoxSetting" mat-mini-fab [matTooltip]="color.name"
                        [style.background]="color.code" (click)="Color(color.name)"></button>
                </div>
            </div>
        </mat-menu>
    </div>
    <div class="icon">
        <button matTooltip="Add image"><img src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg"></button>
    </div>

    <div class="icon" *ngIf="this.noteCard.isArchive==false">
        <button (click)="archive()" matTooltip="Archive"><img src="../../../assets/archive.svg"></button>
    </div>
    <div class="icon" *ngIf="this.noteCard.isArchive==true">
        <button (click)="Unarchive()" matTooltip="Unarchive"><img src="../../../assets/unarchive.svg"></button>
    </div>
    <div class="icon">
        <button matTooltip="More" [matMenuTriggerFor]="menu">
            <img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz.svg"></button>
        <mat-menu #menu="matMenu" class="notifications-dropdown">
            <button mat-menu-item (click)="trash()">Delete Note</button>
            <button mat-menu-item>Add label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
            <button mat-menu-item>Show checkboxes</button>
            <button mat-menu-item>Copy to Google Docs</button>
        </mat-menu>
    </div>
</div>
<div class="trash" *ngIf="this.noteCard.isTrash==true">
    <div class="icon">
        <button (click)="deleteForever()" matTooltip="Delete forever"><img src="../../../assets/DeleteForever.svg"></button>
    </div>
    <div class="icon">
        <button (click)="restore()" matTooltip="Restore"><img src="../../../assets/Restore.svg"></button>
    </div>
</div>