
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 0px;
}
.icon button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon img {
    width: 20px;
    height: 20px;
}
.mat-menu-panel.notifications-dropdown {
    max-width:none;
    width: 150px; 
    margin-left: -8px;
    margin-top: 24px;
    overflow: visible;
}
.background{
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
    padding: 10px 10px 5px 5px;
}
.colorBoxSetting {
    background-color: transparent;
    border-radius: 20px;
    margin: 2px;
    border: 0px solid;
}
.bg-color button {
    height: 30px;
    width: 30px;
    display: block;
    border-radius: 100px;
}
button:hover {
    border : none;
    background-color: rgb(192, 183, 183);
    cursor: pointer;
}
.trash{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 0px;
    margin-right: 170px;
}