
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 16px;
  color: #5f6368;
  opacity: 1;
  font-family: sans-serif;
}


.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 ;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-toolbar{
  display: flex;
  flex-direction: row;
  //align-content: space-around;
}
.search-container{
  display: flex;
  flex-direction: row;
  margin: 85px;
  // background-color: #c2c2bd;
  border-radius: 20px;
  height: 67%;
  padding-right: 28px;
  background-color: #efe9e9;
  vertical-align: middle;
  
}
.search-field{
  margin-bottom: 7px;
  width: 500px;
  height: 42px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  border: none;
  font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
.s-btn img{
  border: none;
  background: transparent;
  height: 40px;
  margin-bottom: -22px;

}

.btn-container{
  display: flex;
  flex-direction: row;
  margin: 21px;

}

.refresh{
  margin-right: 20px;
  
}

.listV{
  margin-right: 30px;
}

.set{
  margin-right: 30px;
}

.apps{
  margin-right: 30px;
}

.menu-btn{
  margin: 25px;
}

.logo{
  width: 52px;
  height: 52px;
}

.search{
width: 600px;
}

.note{
// display: flex;
// flex-direction: row;
// padding-left: 15px;
// background-color: #feefc3;
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.rem{
// display: flex;
// flex-direction: row;
// padding-left: 15px;
padding-left: 12px;
padding-right: 20px;
height: 25px;
}
 

.label{
// display: flex;
// flex-direction: row;
// padding-left: 15px;
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.arcv{
// display: flex;
// flex-direction: row;
// padding-left: 15px;
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.trash{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

@media only screen and (min-width:920px) {
  .example-toolbar{
    width: auto;
    }
    
    .example-sidenav-container{
    width: auto;
    }
  
}
@media only screen and (min-width:360px) {

} 
.button{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px;
  background-color: transparent;
  padding-left: 10px;
}
