
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid blue;
  width: 100vw;
  height:100vw;
}

.example-is-mobile.example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1{
  margin-left: 16px;
  margin-top: 15px;
  color: #393a3d;
  opacity: 1;
  font-family: sans-serif;
}


.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1 ;
  width: 100%;
  border:2px solid red;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.example-toolbar{
  display: flex;
  flex-direction: row;
  //align-content: space-around;
}
.search-container{
  display: flex;
  flex-direction: row;
  margin: 85px;
  // background-color: #c2c2bd;
  border-radius: 20px;
  height: 67%;
  padding-right: 28px;
  background-color: #efe9e9;
  vertical-align: middle;
  
}
.search-field{
  margin-bottom: 7px;
  width: 500px;
  height: 42px;
  border: none;
  font-size: 18px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  border: none;
  font: normal 16px Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
.s-btn img{
  border: none;
  background: transparent;
  height: 40px;
  margin-bottom: -22px;

}

.btn-container{
  display: flex;
  flex-direction: row;
  margin: 21px;

}

.listV{
  margin-right: 30px;
}

.set{
  margin-right: 30px;
}

.apps{
  margin-right: 30px;
}

.menu-btn{
  margin: 25px;
}

.logo{
  width: 52px;
  height: 52px;
}

.search{
width: 600px;
}

.note{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.rem{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}
 

.label{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.arcv{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}

.trash{
padding-left: 12px;
padding-right: 20px;
height: 25px;
}
.icon-container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-left: 320px;
}
.icon img{
  height: 25px;
  width: 25px;
  margin-left:0px;
}

.wholesearchbox {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding-top: 5px;
  background: #f1f3f4;
  border: 1px solid transparent;
  border-radius: 7px;
  width: 550px;
  height: 35px;
  color: #5f6368;
  margin-left: 80px;
  outline: none;
}


.inputSearchbox {
  height: 25px;
  border: 0px;
  background: none;
  width: 500px;
  font-size: large;
  outline: none;
}

@media only screen and (max-width:1421px) {
  .example-toolbar{
    width: auto;
  }
  
  .example-sidenav-container{
  width: 120vw !important;
  //height: 400vh !important;
  }
  .icon-container{
    padding-left: 0px;
  }
  .example-container {
    width: 120vw !important;
  }
}
@media only screen and (max-width:920px) {
    .example-toolbar{
      width: auto;
    }
    
    .example-sidenav-container{
    width: 152vw !important;
    }
    .icon-container{
      padding-left: 0px;
    }
    .example-container {
      width: 152vw !important;
    }
}
@media only screen and (max-width:700px) {
  .example-toolbar{
    width: auto;
  }
  .example-sidenav-container{
  width: 158vw !important;
  }
  .icon-container{
    padding-left: 0px;
  }
  .example-container {
    width: 158vw !important;
  }
  .wholesearchbox {
    width: auto;
  }
  .inputSearchbox {
    width: auto;
  }
}
@media only screen and (max-width:520px) {
  .example-toolbar{
    width: auto;
  }
  .example-sidenav-container{
  width: 250vw !important;
  }
  .icon-container{
    padding-left: 0px;
  }
  .example-container {
    width: 250vw !important;
  }
} 
