.OuterDiv{
    max-width: 100%;
    min-width: 20%;
    min-height: 30%;
    max-height: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.InnerDiv{
    border:0.5px solid rgb(230, 230, 230);
    height: 60%;
    padding: 35px 25px;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.SecondInnerDiv{
    display:block;
    width: 100%;
}
.funDo{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
}
.F{
    color: #1a73e8;
}
.u{
    color: red;
}
.n{
    color: yellow;
}
.D{
    color: #1a73e8;
}
.o{
    color:green;
}
.oo{
    color:red;
}
.span{
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.email{
    width: 100%;
    padding-bottom: 0px;
}
.password{
    width: 100%;
    height: 60px;
}
.Forgot{
    font-size: 16px;
    font-style: normal;
    margin-bottom: 35px;
    padding-top: 5px;
    border-radius: 0px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    text-align: left;
    border: 0;
}

.matButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    padding: 5px 0px;
    padding-left: 0px;
    
}
.register{
    font-size: 16px;
    font-style: normal;
    margin-bottom: 16px;
    padding-top: 5px;
    border-radius: 4px;
    color: #1a73e8;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .25px;
    outline: 0;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-align: left;
    border: 0;
    :hover{
        background-color:#f2f5f9;
        border-radius: 4px;
    }
}


.mat-raised-button{
    background-color:#1a73e8;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;  
    margin-left: auto; 
    :hover {
        background-color:#0248a5;
        color: white;
      }
}
@media (max-width:1025px) {
    .OuterDiv {
        width: auto;
        height: auto;
    }
    .InnerDiv{
        width: auto;
        height: auto;
    }
}
@media (max-width:600px) {
    .InnerDiv{
        border:0px;
    }
}

