<div class="OuterDiv">
    <div class="InnerDiv">
        <div class="funDo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="D">D</b>
            <b class="o">o</b>
            <b class="oo">o</b>
        </div>
        <div>
            <p class="span">Sign in</p>
        </div>
        <div style="font-size: 16px;">
            <p> Use your FunDoo Account </p>
        </div>
        <div class="SecondInnerDiv">
            
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div>
                    <mat-form-field appearance="outline" class="email">
                        <mat-label>Email or phone</mat-label>
                        <input matInput placeholder="Email or phone" formControlName="email">
                        <mat-error>Couldn't find your Fundoo Account</mat-error>
                    
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline" class="password">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" formControlName="password">
                        <mat-error>Enter valid Password</mat-error>
                    </mat-form-field>
                </div>

                <button class="Forgot" routerLink="/forgotEmail"><b>Forgot Password?</b></button>

                
                <div> Not your computer? Use Guest mode to sign in privately.<br>
                    <button class="register">
                        <a href="https://support.google.com/chrome/answer/6130773?hl=en" >Learn more</a>
                    </button>
                </div>
                <div class="matButton">
                        <button class="register"><b routerLink="/register">Create account</b></button>
                        <button class="mat-raised-button"> Next </button>
                </div>
            </form>
        </div> 
    </div>

</div>