.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.note {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: white;
    
}
.pin{
    opacity:0.7;
    cursor: pointer;
    
}
.title {
    min-height: 10px;
    padding: 10px 15px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 5px;
    font-size: large;
    width: 420px;
    border: none;
    outline: none;
    font: normal 18px Google Sans,Roboto,Helvetica,Arial,sans-serif;
}
.description {
    font-size: small;
    padding-top: 10px;
    padding-left: 5px;
    border: none;
    outline: none;
}
.icon {
    padding-top: 20px;
    display: flex;
    padding-left: 5px;
    cursor: pointer;
    padding-bottom: 0px;
}
.closeButton{
    border: none;
    background-color: white;
    cursor: pointer;
    margin-left: 100px;
    //margin-top: 1px;
    margin-bottom: 10px;
    //padding-bottom: 10px;
}