.OuterDiv{
    width: 97vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.FirstInnerDiv{
    border: 2px solid rgb(230, 230, 230);
    height: 60%;
    width: 30vw;
    padding: 40px 40px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
}

.funDo{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 170px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.F{
    color: #1a73e8;
}
.u{
    color: red;
}
.n{
    color: yellow;
}
.D{
    color: #1a73e8;
}
.o{
    color:green;
}
.oo{
    color:red;
}
.head-line{
    margin-bottom: 20px;
    text-align: center;  
}
    
.password-head{
    text-align: center;
}
.Password{
    width: 100%;
    height: 60px; 
    padding-bottom: 10px;  
}
.ConfirmPassword{
    width: 100%;
    height: 60px; 
}
.bottom-options{
    margin-left: 380px;
    display: flex;
    align-content: center;
    :hover {
        background-color:#0248a5;
        color: white;
      }
}   
.save-button{
    background-color: #1a73e8;
    color: aliceblue;
    border: none;
    border-radius: 3px;
    width: 70px;
    height: 40px;
    font-weight: bold;
    padding: 5px;
}



    