<div class="OuterDiv">
    <div class="FirstInnerDiv">
        <div class="funDo">
            <b class="F">F</b>
            <b class="u">u</b>
            <b class="n">n</b>
            <b class="D">d</b>
            <b class="o">o</b>
            <b class="oo">o</b>
        </div>

        <div class="password-head">
            <h1>Reset Password</h1>
        </div>
        <div class="head-line">
            <h3>Create new Password</h3>
        </div>
            <div class="recovery-field">
                <mat-form-field appearance="outline" class="Password">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>
            <div class="recovery-field">
                <mat-form-field appearance="outline" class="ConfirmPassword">
                    <mat-label>Confirm password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
            </div>
            <h5>Use 8 or more characters with a max of letters, numbers & symbols</h5>
            <div class="CheckBox">
                <mat-checkbox class="check">Show password</mat-checkbox>
            </div>
            <div class="bottom-options">
                <button class="save-button" mat-raised-button>Save</button>
            </div>
    </div>
</div>